<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-md justify-content-center navbar-light bg-light">			
    <a href="#" class="navbar-brand">
        <img src="assets/logos/logo.png" height="40" width="40" alt="">
        <figcaption style="font-size: 10px;">ViMusicApp</figcaption>
    </a>
    <div class="row">			
        <div class="col-md-2">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">Library</a>
            </div>
        </div>					
        <div class="col-md-8">	
            <form class="form-inline">
                <div class="input-group">                    
                    <input type="text" size="70" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2">					
            <div class="navbar-nav" *ngIf="!isAuthenticated">
                <a href="/auth" class="nav-item nav-link">Sign in</a>
            </div>	
            <div class="navbar-nav" *ngIf="isAuthenticated">
                <a href="/auth" class="nav-item nav-link" (click)="onLogout()">Logout</a>
            </div>	
        </div>
    </div>	
</nav>